/* 主要背景 */
.background-big {
  width: 1920px;
  height: 1080px;
  margin: 0 auto;
  background: url("/img/6F573C6F-BE6F-4A87-9474-E0C4CB3EE5A1.png") center center
    no-repeat;
  /* background-color: brown; */
}

/* 木作設計 */
.img-group {
  padding-top: 56.5px;
  position: relative;
}

.img-big {
  display: block;
  margin: 0 auto;
}
.img-logo {
  position: absolute;
  width: 128px;
  top: 115px;
  left: 645px;
}
.title-flex {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 110px;
  left: 840px;
  text-align: center;
}
.img-group h1 {
  font-size: 41.7px;
  line-height: 55.3px;
  letter-spacing: 8.35px;
  color: #333333;
  margin: 15.5px 0px;
  /* position: absolute; */
  /* top: 115px; */
}
.img-group h2 {
  font-size: 30.1px;
  line-height: 24.3px;
  color: #333333;
  margin: 0px;
}
.img-com {
  position: absolute;
  top: 500px;
  left: 298px;
}
.img-home {
  position: absolute;
  bottom: 175px;
  left: 575px;
}
.img-btn {
  width: 358px;
  position: absolute;
  bottom: 40px;
  left: 760px;
}
.img-svg {
  position: absolute;
  bottom: 10px;
  left: 1080px;
}
.img-arrow {
  width: 67px;
  position: absolute;
  top: 100px;
  left: 275px;
}

.img-right {
  position: absolute;
  right: 295px;
  bottom: 175px;
  height: 354px;
  width: 274px;
  background: url("/img/204093F3-6EC9-463C-8B98-C28DE8BD737C.png") center center
    no-repeat;
}
.img-right-logo {
  height: 53px;
  position: absolute;
  right: 17px;
}
.img-right-font {
  max-width: 215px;
  position: absolute;
  top: 30px;
  left: 32px;
}
.img-right-font p {
  margin: 0px 0px 20px 0px;
  font-size: 13.4px;
  line-height: 21.4px;
  color: #333333;
}
.img-fontimg {
  height: 22px;
}
